@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --s1: 0.25em;
    --s2: 0.5em;
    --s3: 0.75em;
    --s4: 1em;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

/* h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
} */

/* h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 0;
} */

/* section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

/* ol {
    column-count: 2;
    width: 100%;
    column-gap: 2em;
} */

/* ol li:first-child {
    margin-top: 0;
} */

/* ol li {
    background: #2b2b2b;
    text-align: left;
    font-family: 'Inter', sans-serif;
    margin: 0.5em 0;
    padding: 0.5em;
} */

/* ol li::marker {
    font-style: italic;
    display: block;
    font-weight: 800;
} */

.container {
    /* margin: var(--padding-small); */
    /* height: calc(100vh - 0.25em * 2); */
    height: 100vh;
    padding: var(--s3);
}